* {
  font-family: 'Roboto', sans-serif;
}

header {
  position: relative;
}

nav {
  background-color: #212121;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 70px;
  margin: 0;
  list-style-type: none;
}

.menu__link {
  font-weight: 300;
  font-size: 15px;
  text-decoration: none;
  color: #FFFFFF;
}

.menu__item {
  border-right: 2px dotted black;
  padding-right: 45px;
}

.subheader {
  height: 84px;
  background: rgba(0, 0, 0, 0.6);
  color: #FFFFFF;
  position: absolute;
  width: 100%;
}

.subheader__logo img {
  max-width: 285px;
  margin-top: 17px;
}

.subheader__official {
  font-style: normal;
  font-size: 13px;
  font-weight: 200;
  margin-top: 6px;
  opacity: 0.6;
}

.subheader__call {
  font-style: normal;
  font-size: 13px;
  font-weight: 200;
  margin-top: 22px;
  opacity: 0.6;
  font-style: normal;
  font-size: 13px;
  font-weight: 200;
  margin-top: 20px;
  opacity: 0.6;
  text-align: right;
}

.subheader__tel {
  display: block;
  margin-top: 8px;
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 12px;
}

.subheader__btn {
  width: 172px;
  height: 46px;
  margin-top: 21px;
  background: -webkit-gradient(linear, left bottom, left top, from(#1EACC7), to(#4CE2FF));
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  -webkit-box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 14px;
  color: #FFFFFF;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}

.promo__btn {
  width: 172px;
  height: 46px;
  margin-top: 21px;
  background: -webkit-gradient(linear, left bottom, left top, from(#1EACC7), to(#4CE2FF));
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  -webkit-box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 14px;
  color: #FFFFFF;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}

.promo {
  min-height: 800px;
  background: url(/src/imgs/bg/header_bg.jpg) center center/cover no-repeat;
  padding: 150px 0 135px 0;
}

.promo__header {
  font-weight: 700;
  font-size: 60px;
  margin: 0;
  margin-top: 122px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.promo__subheader {
  font-weight: 700;
  font-size: 36px;
  margin: 0;
  margin-top: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.promo__descr {
  margin-top: 16px;
  line-height: 24px;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  color: #FFFFFF;
  font-size: 18px;
}

.promo__btn {
  display: block;
  margin: 116px auto 0 auto;
}

.label {
  width: 115px;
  height: 27px;
  background: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px auto 0 auto;
  text-transform: uppercase;
  font-size: 13px;
  color: #FFFFFF;
}

.title {
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 48px;
  margin: 33px 0 0 0;
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #222222;
}

.subtitle {
  font-size: 17px;
  line-height: 21px;
  margin-top: 15px;
  text-align: center;
  color: #222222;
}

.workwithus__img {
  width: 116px;
  text-align: center;
}

.workwithus__descr {
  font-weight: 300;
  font-size: 15px;
  line-height: 21px;
  color: #202020;
}

.workwithus__text {
  text-align: justify;
}

span {
  font-size: 17px;
  line-height: 21px;
  color: #1EACC7;
  font-weight: 400;
  text-align: left;
}

.mobile {
  min-height: 864px;
  padding: 48px 0 79px 0;
  background: url(/src/imgs/bg/body_bg.jpg) center center/cover no-repeat;
}

.mobile .row {
  margin-top: 32px;
}

.mobile_item {
  width: 320px;
  height: 280px;
  margin: 0 auto 19px;
  padding-top: 88px;
  position: relative;
}

.mobile_item_1 {
  background: url(/src/imgs/one_click.png) center center/cover no-repeat;
}

.mobile_item_2 {
  background: url(/src/imgs/reliability.png) center center/cover no-repeat;
}

.mobile_item_3 {
  background: url(/src/imgs/sails.png) center center/cover no-repeat;
}

.mobile_item_4 {
  background: url(/src/imgs/card_pay.png) center center/cover no-repeat;
}

.mobile_item_5 {
  background: url(/src/imgs/feedback.png) center center/cover no-repeat;
}

.mobile_item_6 {
  background: url(/src/imgs/split_coast.png) center center/cover no-repeat;
}

.mobile_item_subtitle {
  font-weight: normal;
  font-size: 24px;
  line-height: 31px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.mobile_item_plus {
  margin: 0 auto;
  width: 26px;
  height: 26px;
  position: absolute;
  bottom: 35px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  cursor: pointer;
}

.mobile_item_plus img {
  width: 100%;
}

.order {
  position: relative;
}

.order .row .label {
  color: #000000;
  background: #FFFFFF;
  margin-top: 59px;
}

.order .row .title {
  color: #FFFFFF;
  background: #000000;
  margin-top: 26px;
}

.order .row .subtitle {
  color: #FFFFFF;
  background: #000000;
  margin-top: 1px;
}

.order .row img {
  height: 480px;
  width: 759px;
  display: block;
  margin: 54px auto;
}

.order_descr {
  display: inline;
  text-align: center;
}

.order .bg {
  position: absolute;
}

.order .bg .top_bg {
  height: 502px;
  background-color: #000000;
}

.order .bg .bottom_bg {
  height: 397px;
  background: url(/src/imgs/bg/body_bg.jpg) center center/cover no-repeat;
}
/*# sourceMappingURL=style.css.map */